body {
    background-color: #476B76;
    margin: 0px;
}

header {
    color: #EFB071;
    background-color: #313D41;
    width: 100%;
    padding: 20px 0px 20px 0px;
    position: fixed;
    top: 0px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu h1 {
    padding-left: 50px;
    margin: 0;
}

.header-menu span {
    margin: 0 auto;
    display: flex;
    gap: 15px;

}

.header-menu span a {
    text-decoration: none;
    color: #EFB071;
}


.about {
    display: flex;
    align-items: flex-start;
    border: 3px solid black;
    margin: 80px 5px 5px 5px;
    background-image: url("Icons&pictures/slide_4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.about .title {
    font-size: 1.5em;
    font-weight: 600;
}


.about .text {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #0d0a1189;
    box-shadow: 0 0 20px 5px #0D0A11;
}

.head-shot {
    height: 520px;
    margin-right: 20px;
    margin-left: 25%;
    flex-shrink: 0;
    border: 3px solid #43EFE1;
    /* Main border */
    box-shadow: 0 0 20px 5px rgba(67, 239, 225, 0.5);
    /* Glowing fade effect */
}


.Career {
    padding-left: 20px;
    border-left: 4px solid #313D41;
    margin-left: 5px;
}

.Career h3 {
    color: #EFB071;
}



.all-Social-Medial-Icons {
    display: flex;
    justify-content: center;
    list-style: none;

}

.social-MediaIcon {
    margin: 0 20px;
}